In [1]:
!pwd

/Users/yasamanemami/Documents/DATA-230 Sec 23 - Data Visualization/proj

In [32]:
sheet_names = ["hcpi_a", "fcpi_a", "ecpi_a", "ccpi_a", "ppi_a", "def_a"]
list_of_df = list()
for i,name in enumerate(sheet_names):
    df = pd.read_excel('Inflation-data.xlsx', sheet_name= name)
    #df[name]=df[name]+str(i) ## You can remove str() if everything in form is already a string
    list_of_df.append(df)
writer = pd.ExcelWriter('annual.xlsx', engine = 'xlsxwriter')    
for i,name in enumerate(sheet_names):
    
    df = list_of_df[i].melt(['Country Code', 'IMF Country Code', 'Country', 'Indicator Type', 'Series Name'], var_name='Year', value_name=name)
    #df.to_excel('annual.xlsx', index=False, encoding='utf-8', sheet_name=name)
    
    df.to_excel(writer, sheet_name = name)
writer.save()
writer.close()

/Users/yasamanemami/Documents/DATA-230 Sec 23 - Data Visualization/lib/python3.9/site-packages/xlsxwriter/workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [2]:
import pandas as pd

#df_M = pd.read_excel('Transformed_monthly.xlsx')
#df_M = df_M.loc[:, ~df_M.columns.str.contains('^Unnamed')]
df_Q = pd.read_excel('Transformed_quaterly.xlsx')
df_Q = df_Q.loc[:, ~df_Q.columns.str.contains('^Unnamed')]
df_Y = pd.read_excel('Transformed_annual.xlsx')
df_Y = df_Y.loc[:, ~df_Y.columns.str.contains('^Unnamed')]

In [3]:
df_Y["income"] = 'other'
df_Q["income"] = 'other'

In [4]:
# df_M["Country"] = df_M["Country"].str.lower().str.strip()
df_Q["Country"] = df_Q["Country"].str.lower().str.strip()
df_Y["Country"] = df_Y["Country"].str.lower().str.strip()

In [49]:
# df_M["income"].unique()

In [50]:
# df_M.head()

In [5]:
df_Y.head()

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,Year,annual_metric,income
0,ABW,314,aruba,Inflation,Headline Consumer Price Inflation,1970,0.000000,other
1,AFG,512,afghanistan,Inflation,Headline Consumer Price Inflation,1970,25.510000,other
2,AGO,614,angola,Inflation,Headline Consumer Price Inflation,1970,7.970000,other
3,ALB,914,albania,Inflation,Headline Consumer Price Inflation,1970,0.000000,other
4,ARE,466,united arab emirates,Inflation,Headline Consumer Price Inflation,1970,21.984699,other

In [6]:
df_Q.head()

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,Year,quaterly_metric,income
0,ABW,314,aruba,index,Headline Consumer Price Index,19701,0.0,other
1,AFG,512,afghanistan,index,Headline Consumer Price Index,19701,0.0,other
2,AGO,614,angola,index,Headline Consumer Price Index,19701,0.0,other
3,ALB,914,albania,index,Headline Consumer Price Index,19701,0.0,other
4,ARE,466,united arab emirates,index,Headline Consumer Price Index,19701,0.0,other

In [7]:
LIC = ['Afghanistan', 'Guinea-Bissau',	'Somalia',
'Burkina Faso', 'Korea, Dem. People Rep','South Sudan','Burundi','Liberia','Sudan',
'Central African Republic','Madagascar', 'Syrian Arab Republic',
'Chad',	'Malawi',	'Togo',
'Congo, Dem. Rep.',	'Mali',	'Uganda',
'Eritrea','Mozambique' ,'Yemen, Rep.',
'Ethiopia','Niger',	
'Gambia, The',	'Rwanda',	
'Guinea','Sierra Leone']
LIC = [country.lower().strip() for country in LIC]

In [8]:
low_med = [ 'Angola','Honduras',	'Philippines','Algeria',	'India',	'Samoa','Bangladesh',	'Indonesia',
'São Tomé and Principe', 'sao tome and principe', 'sã£o tomã© and principe', 'Belize',	'Iran, Islamic Rep.',	'Senegal',
'Benin',	'Kenya',	'Solomon Islands', 
'Bhutan',	'Kiribati'	,'Sri Lanka',
'Bolivia',	'Kyrgyz Republic'	,'Tanzania, united rep.',
'Cabo Verde',	'Lao, PDR', 'Lao PDR',	'Tajikistan',
'Cambodia',	'Lesotho'	,'Timor-Leste',
'Cameroon',	'Mauritania'	,'Tunisia',
'Comoros',	'Micronesia, Fed. Sts.'	,'Ukraine',
'Congo, Rep.',	'Mongolia',	'Uzbekistan',
'Côte d\'Ivoire', 'cã´te d\'ivoire',	'Morocco',	'Vanuatu',
'Djibouti',	'Myanmar',	'Vietnam',
'Egypt, Arab Rep.',	'Nepal',	'West Bank and Gaza',
'El Salvador',	'Nicaragua',	'Zambia',
'Eswatini',	'Nigeria',	'Zimbabwe',
'Ghana',	'Pakistan',	
'Haiti',	'Papua New Guinea', 'cote d\'ivoire'	]
low_med = [country.lower().strip() for country in low_med]

In [9]:
up_med = ['Albania',	'Gabon',	'Namibia',
'American Samoa',	'Georgia',	'North Macedonia',
'Argentina',	'Grenada',
'Panama',
'Armenia',	'Guatemala',
'Paraguay',
'Azerbaijan',	'Guyana',
'Peru',  
'Belarus',	'Iraq',	'Romania',
'Bosnia and Herzegovina' , 	'Jamaica',
'Russian Federation',
'Botswana'	,'Jordan'	,'Serbia',
'Brazil',
'Kazakhstan'	,'South Africa',
'Bulgaria',
'Kosovo',	'St. Lucia',
'China',
'Lebanon',	'St. Vincent and the Grenadines',
'Colombia',
'Libya'	,'Suriname',
'Costa Rica' ,
'Malaysia'	,'Thailand',
'Cuba',	'Maldives',	'Tonga',
'Dominica',
'Marshall Islands',	'Turkey',
'Dominican Republic'  , 
'Mauritius'	,'Turkmenistan',
'Equatorial Guinea'  ,	'Mexico',	'Tuvalu',
'Ecuador',	'Moldova, rep.',	
'Fiji'	,'Montenegro','venezuela, rb'	]
up_med = [country.lower().strip() for country in up_med]

In [10]:
EMDE = ['Angola','Honduras',	'Philippines','Algeria',	'India',	'Samoa','Bangladesh',	'Indonesia',
'São Tomé and Principe', 'sao tome and principe', 'sã£o tomã© and principe', 'Belize',	'Iran, Islamic Rep.',	'Senegal',
'Benin',	'Kenya',	'Solomon Islands', 
'Bhutan',	'Kiribati'	,'Sri Lanka',
'Bolivia',	'Kyrgyz Republic'	,'Tanzania, united rep.',
'Cabo Verde',	'Lao, PDR', 'Lao PDR',	'Tajikistan',
'Cambodia',	'Lesotho'	,'Timor-Leste',
'Cameroon',	'Mauritania'	,'Tunisia',
'Comoros',	'Micronesia, Fed. Sts.'	,'Ukraine',
'Congo, Rep.',	'Mongolia',	'Uzbekistan',
'Côte d\'Ivoire', 'cã´te d\'ivoire',	'Morocco',	'Vanuatu',
'Djibouti',	'Myanmar',	'Vietnam',
'Egypt, Arab Rep.',	'Nepal',	'West Bank and Gaza',
'El Salvador',	'Nicaragua',	'Zambia',
'Eswatini',	'Nigeria',	'Zimbabwe',
'Ghana',	'Pakistan',	
'Haiti',	'Papua New Guinea', 'Albania',	'Gabon',	'Namibia',
'American Samoa',	'Georgia',	'North Macedonia',
'Argentina',	'Grenada',
'Panama',
'Armenia',	'Guatemala',
'Paraguay',
'Azerbaijan',	'Guyana',
'Peru',  
'Belarus',	'Iraq',	'Romania',
'Bosnia and Herzegovina' , 	'Jamaica',
'Russian Federation',
'Botswana'	,'Jordan'	,'Serbia',
'Brazil',
'Kazakhstan'	,'South Africa',
'Bulgaria',
'Kosovo',	'St. Lucia',
'China',
'Lebanon',	'St. Vincent and the Grenadines',
'Colombia',
'Libya'	,'Suriname', 'macedonia, fyr',
'Costa Rica' ,
'Malaysia'	,'Thailand',
'Cuba',	'Maldives',	'Tonga',
'Dominica',
'Marshall Islands',	'Turkey',
'Dominican Republic'  , 
'Mauritius'	,'Turkmenistan',
'Equatorial Guinea'  ,	'Mexico',	'Tuvalu', 'tanzania',
'Ecuador',	'Moldova, rep.',	'moldova',
'Fiji'	,'Montenegro','venezuela, rb', 'cote d\'ivoire']
EMDE = [country.lower().strip() for country in EMDE]

In [11]:
Advanced = ['Andorra',	'Greece',	'Poland',
'Antigua and Barbuda',	'Greenland'	,'Portugal',
'Aruba',	'Guam'	,'Puerto Rico',
'Australia',	'Hong Kong SAR, China'	,'Qatar',
'Austria'	,'Hungary'	,'San Marino',
'Bahamas, The',	'Bahamas','Iceland',	'Saudi Arabia',
'Bahrain'	,'Ireland'	,'Seychelles',
'Barbados',	'Isle of Man',	'Singapore',
'Belgium'	,'Israel'	,'Sint Maarten (Dutch part)',
'Bermuda'	,'Italy',	'Slovak Republic',
'British Virgin Islands',	'Japan'	,'Slovenia',
'Brunei Darussalam'	,'Korea, Rep.',	'Spain',
'Canada',	'Kuwait',	'St. Kitts and Nevis',
'Cayman Islands',	'Latvia',	'St. Martin (French part)',
'Channel Islands',	'Liechtenstein'	,'Sweden',
'Chile'	,'Lithuania'	,'Switzerland',
'Croatia',	'Luxembourg',	'Taiwan, China',
'Curaçao',	'Macao SAR, China',	'Trinidad and Tobago',
'Cyprus',	'Malta',	'Turks and Caicos Islands',
'Czech Republic',	'Monaco',
'United Arab Emirates', 'swaziland',
'Denmark'	,'Nauru',
'United Kingdom',
'Estonia'	,'Netherlands', 'netherlands antilles',
'United States',
'Faroe Islands'	,'New Caledonia'  ,
'Uruguay',
'Finland'	,'New Zealand' , 	'Virgin Islands (U.S.)',
'France'	,'Northern Mariana Islands',
  	
'French Polynesia',	'Norway',
  	
'Germany'	,'Oman'  ,	'hong kong sar',
'Gibraltar',	'Palau', 'slovakia', 'curacao', 'taiwan province of china']
Advanced = [country.lower().strip() for country in Advanced]

In [12]:
df_Y.query("income == 'income'")['Country'].value_counts()
df_Q.query("income == 'income'")['Country'].value_counts()

Series([], Name: Country, dtype: int64)

In [13]:
df_Y["income"].unique()

array(['other'], dtype=object)

In [60]:
#df_M.head()

In [61]:
df_Q.head()

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,Year,quaterly_metric,income
0,ABW,314,aruba,index,Headline Consumer Price Index,19701,0.0,other
1,AFG,512,afghanistan,index,Headline Consumer Price Index,19701,0.0,other
2,AGO,614,angola,index,Headline Consumer Price Index,19701,0.0,other
3,ALB,914,albania,index,Headline Consumer Price Index,19701,0.0,other
4,ARE,466,united arab emirates,index,Headline Consumer Price Index,19701,0.0,other

In [62]:
df_Y.head()

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,Year,annual_metric
0,ABW,314,aruba,Inflation,Headline Consumer Price Inflation,1970,0.000000
1,AFG,512,afghanistan,Inflation,Headline Consumer Price Inflation,1970,25.510000
2,AGO,614,angola,Inflation,Headline Consumer Price Inflation,1970,7.970000
3,ALB,914,albania,Inflation,Headline Consumer Price Inflation,1970,0.000000
4,ARE,466,united arab emirates,Inflation,Headline Consumer Price Inflation,1970,21.984699

In [65]:
df_Q.income.unique()

array(['other'], dtype=object)

In [32]:
#df_M = df_M.rename(columns={'Series Name':'Series Name Month'})

In [157]:
#df_M

,Country Code,IMF Country Code,Country,Indicator Type,Series Name Month,Year,Month,monthly_metric,income
0,ABW,314,aruba,Index,Headline Consumer Price Index,197001,197001,0.00000,Advanced
1,AFG,512,afghanistan,Index,Headline Consumer Price Index,197001,197001,0.00000,LIC
2,AGO,614,angola,Index,Headline Consumer Price Index,197001,197001,0.00000,EMDE
3,ALB,914,albania,Index,Headline Consumer Price Index,197001,197001,0.00000,EMDE
4,ARE,466,united arab emirates,Index,Headline Consumer Price Index,197001,197001,0.00000,Advanced
...,...,...,...,...,...,...,...,...,...
479210,URY,298,uruguay,Index,Producer Price Index,202104,202104,0.00000,Advanced
479211,USA,111,united states,Index,Producer Price Index,202104,202104,220.86277,Advanced
479212,UZB,927,uzbekistan,Index,Producer Price Index,202104,202104,0.00000,EMDE
479213,VEN,299,"venezuela, rb",Index,Producer Price Index,202104,202104,0.00000,EMDE
479214,ZAF,199,south africa,Index,Producer Price Index,202104,202104,0.00000,EMDE

In [14]:
import numpy as np
conditions_Y = [
    (df_Y['Country'].isin(LIC)),
    (df_Y['Country'].isin(EMDE)),
    (df_Y['Country'].isin(Advanced)),
    (df_Y['Country'] == 'other')
]
conditions_Q = [
    (df_Q['Country'].isin(LIC)),
    (df_Q['Country'].isin(EMDE)),
    (df_Q['Country'].isin(Advanced)),
    (df_Q['Country'] == 'other')
]

values = ['LIC', 'EMDE', 'Advanced', 'other']

df_Y['income'] = np.select(conditions_Y, values)
df_Q['income'] = np.select(conditions_Q, values)


df_Q.head()

,Country Code,IMF Country Code,Country,Indicator Type,Series Name,Year,quaterly_metric,income
0,ABW,314,aruba,index,Headline Consumer Price Index,19701,0.0,Advanced
1,AFG,512,afghanistan,index,Headline Consumer Price Index,19701,0.0,LIC
2,AGO,614,angola,index,Headline Consumer Price Index,19701,0.0,EMDE
3,ALB,914,albania,index,Headline Consumer Price Index,19701,0.0,EMDE
4,ARE,466,united arab emirates,index,Headline Consumer Price Index,19701,0.0,Advanced

In [15]:
df_Y.income.unique()

array(['Advanced', 'LIC', 'EMDE'], dtype=object)

In [29]:
df_Y['annual_metric']=df_Y['annual_metric'].replace(0, None)
df_Q['quaterly_metric']=df_Q['quaterly_metric'].replace(0, None)

In [31]:
df_Y.annual_metric.unique()

array([None, 25.51000022888184, 7.96999979019165, ..., 24.61398092253813,
       5.2863026273352, 17.14859759749846], dtype=object)

In [32]:
df_Y.to_excel("Inflation_Category_Annual.xlsx")

In [33]:
df_Q.to_excel("Inflation_Category_Quarterly.xlsx")

In [33]:
df_Q = df_Q.rename(columns={'Series Name':'Series Name Quarter'})

In [34]:
df_Y = df_Y.rename(columns={'Series Name':'Series Name Year'})

In [35]:
# df_M = df_M.astype({'Year': 'str'})
# df_M["Y"] = df_M['Year'].str[:4]
# df_M["M"] = df_M['Year'].str[4:]

In [36]:
df_Q = df_Q.astype({'Year': 'str'})
df_Q["Y"] = df_Q['Year'].str[:4]
df_Q["Q"] = df_Q['Year'].str[4:]

In [37]:
df_Q['Y'].unique()

array(['1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021'], dtype=object)

In [38]:
# df_M = df_M.astype({'Year': 'str'})
# df_M["Y"] = df_M['Year'].str[:4]
# df_M["M"] = df_M['Year'].str[4:]

In [39]:
df_Y["Indicator Type"].unique()

array(['Inflation', 'Rate'], dtype=object)

In [41]:
# df_M = df_M.astype({'Y': 'int64', 'M': 'int64'})
df_Q = df_Q.astype({'Y': 'int64', 'Q': 'int64'})

In [42]:
df_Q.dtypes

Country Code            object
IMF Country Code         int64
Country                 object
Indicator Type          object
Series Name Quarter     object
Year                    object
quaterly_metric        float64
income                  object
Y                        int64
Q                        int64
dtype: object

In [43]:
# conditions = [
#     (df_M['M'] == 1),
#     (df_M['M'] == 2),
#     (df_M['M'] == 3),
#     (df_M['M'] == 4),
#     (df_M['M'] == 5),
#     (df_M['M'] == 6),
#     (df_M['M'] == 7),
#     (df_M['M'] == 8),
#     (df_M['M'] == 9),
#     (df_M['M'] == 10),
#     (df_M['M'] == 11),
#     (df_M['M'] == 12)
#   ]

# values = [1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4] 

# df_M['Q'] = np.select(conditions, values)

# df_M.head()

NameError: name 'df_M' is not defined

In [85]:
df_Y.to_excel("Inflation_Category_Annual.xlsx")

In [69]:
df_Q.income.unique()

array(['Advanced', 'LIC', 'EMDE'], dtype=object)

In [45]:

# df_M["Series Name Month"]= df_M["Series Name Month"].str.replace(" Index","")
df_Q["Series Name Quarter"]= df_Q["Series Name Quarter"].str.replace(" Index","")
df_Y["Series Name Year"]= df_Y["Series Name Year"].str.replace(" Inflation","")
# df_M["Series Name Month"]= df_M["Series Name Month"].str.replace('Food Price','Food Consumer Price')
# df_M["Series Name Month"]= df_M["Series Name Month"].str.replace('Energy Price','Energy Consumer Price')
df_Q["Series Name Quarter"]= df_Q["Series Name Quarter"].str.replace('Food Price','Food Consumer Price')
df_Q["Series Name Quarter"]= df_Q["Series Name Quarter"].str.replace('Energy Price','Energy Consumer Price')

In [170]:
merged_df = df_M.merge(df_Q, how='outer', left_on=["Country Code", "IMF Country Code", "Country", "Y", "Q", "Series Name Month"], right_on=["Country Code", "IMF Country Code", "Country","Y","Q", "Series Name Quarter"])

In [171]:
df_Y

,Country Code,IMF Country Code,Country,Indicator Type,Series Name Year,Year,annual_metric
0,ABW,314,aruba,Inflation,Headline Consumer Price,1970,0.000000
1,AFG,512,afghanistan,Inflation,Headline Consumer Price,1970,25.510000
2,AGO,614,angola,Inflation,Headline Consumer Price,1970,7.970000
3,ALB,914,albania,Inflation,Headline Consumer Price,1970,0.000000
4,ARE,466,united arab emirates,Inflation,Headline Consumer Price,1970,21.984699
...,...,...,...,...,...,...,...
48547,WSM,862,samoa,Rate,GDP deflator Index growth rate,2020,0.332101
48548,YEM,474,"yemen, rep.",Rate,GDP deflator Index growth rate,2020,24.613981
48549,ZAF,199,south africa,Rate,GDP deflator Index growth rate,2020,5.286303
48550,ZMB,754,zambia,Rate,GDP deflator Index growth rate,2020,17.148598
48551,ZWE,698,zimbabwe,Rate,GDP deflator Index growth rate,2020,0.000000

In [172]:
final_df = merged_df.merge(df_Y, how='outer', left_on=["Country Code", "IMF Country Code", "Country", "Y", "Series Name Month"], right_on=["Country Code", "IMF Country Code", "Country","Year", "Series Name Year"])

In [173]:
final_df.annual_metric.unique()

array([ 0.        , 25.51000023,  7.96999979, ..., 24.61398092,
        5.28630263, 17.1485976 ])

In [174]:
merged_df["Series Name Month"].unique()

array(['Headline Consumer Price', 'Food Consumer Price',
       'Energy Consumer Price', 'Official Core Consumer Price',
       'Producer Price', nan], dtype=object)

In [175]:
df_Y["Series Name Year"].unique()

array(['Headline Consumer Price', 'Food Consumer Price',
       'Energy Consumer Price', 'Official Core Consumer Price',
       'Producer Price', 'GDP deflator Index growth rate'], dtype=object)

In [190]:
# import numpy as np
# conditions = [
#     (final_df['Country'].isin(LIC)),
#     (final_df['Country'].isin(EMDE)),
#     (final_df['Country'].isin(Advanced)),
#     (final_df['Country'] == 'other')
# ]

# values = ['LIC', 'EMDE', 'Advanced', 'other']

# final_df['income'] = np.select(conditions, values)

# final_df.head()

,Country Code,IMF Country Code,Country,Indicator Type_x,Series Name Month,Year_x,Month,monthly_metric,income,Y,M,Q,Indicator Type_y,Series Name Quarter,Year_y,quaterly_metric,Indicator Type,Series Name Year,Year,annual_metric
0,ABW,314,aruba,Index,Headline Consumer Price,197001,197001.0,0.0,Advanced,1970.0,1.0,1.0,index,Headline Consumer Price,19701,0.0,Inflation,Headline Consumer Price,1970.0,0.0
1,ABW,314,aruba,Index,Headline Consumer Price,197002,197002.0,0.0,Advanced,1970.0,2.0,1.0,index,Headline Consumer Price,19701,0.0,Inflation,Headline Consumer Price,1970.0,0.0
2,ABW,314,aruba,Index,Headline Consumer Price,197003,197003.0,0.0,Advanced,1970.0,3.0,1.0,index,Headline Consumer Price,19701,0.0,Inflation,Headline Consumer Price,1970.0,0.0
3,ABW,314,aruba,Index,Headline Consumer Price,197004,197004.0,0.0,Advanced,1970.0,4.0,2.0,index,Headline Consumer Price,19702,0.0,Inflation,Headline Consumer Price,1970.0,0.0
4,ABW,314,aruba,Index,Headline Consumer Price,197005,197005.0,0.0,Advanced,1970.0,5.0,2.0,index,Headline Consumer Price,19702,0.0,Inflation,Headline Consumer Price,1970.0,0.0

In [191]:
final_df.query("income == '0'")['Country'].value_counts()

Series([], Name: Country, dtype: int64)

In [192]:
final_df.income.value_counts()

EMDE        328082
Advanced    229803
LIC          49525
Name: income, dtype: int64

In [193]:
final_df.to_excel("Global_YQM.xlsx")